/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
--Soft:hsl(215, 51%, 70%);
--Cyan:hsl(178, 100%, 50%);
--Very-dark-blue-main-BG: hsl(217, 54%, 11%);
--Very-dark-blue-card-BG: hsl(216, 50%, 16%);
--Very-dark-blue-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}
html{
    scroll-behavior: smooth;
}
body{
   
    font-family: 'Outfit', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small screens*/
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium screens */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* larg screens */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* end of global rules */
/* start of page */
.page{
    background-color: var(--Very-dark-blue-main-BG);
    text-align: center;
    padding: 150px 0;
    min-height:calc( 100vh - 14px);
}
@media (max-width:767px){
    .page{
        padding-bottom: 70px;
    }
}
.page .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page .card{
    background-color: var(--Very-dark-blue-card-BG);
    padding: 25px 25px 10px;
    text-align: center;
    width: 320px;
    min-width: 320px;
    border-radius: 20px;
    transition: 0.3s;
}
.image{
    position: relative;
    transition: 0.3s;
}
.image img:first-of-type{
    max-width: 100%;
    border-radius: 15px;
    cursor: pointer;
}
.image img:last-of-type{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0.3s;
}
.image:hover  img:last-of-type{
    display: block;
}

.card .text{
    text-align: left;
}
.image::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgb(0 255 247 / 50%);
    border-radius: 15px;
    transition: 0.3s;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    cursor: pointer;
}
.image:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 98%;
    background-color: rgb(0 255 247 / 50%);
    border-radius: 15px;
    z-index: 11;
}
.card .text h3{
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
}
.text h3:hover,
.footer p span:hover{
    color:var(--Cyan) ;
}
.card .text p{
    color: var(--Soft);
    font-weight: 300;
    line-height: 1.6;
}
.card .time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 21px;
}
.card .time span:first-of-type{
    color: var(--Cyan);
    font-weight: 600;
    position: relative;
    padding-left: 18px;
}
.card .time span:last-of-type{
    color: var(--Soft);
    position: relative;
}
.card .time span:first-of-type img{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.card .time span:last-of-type img{
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--Very-dark-blue-line);
    padding-top: 10px;
}
.footer img{
    width:35px;
    
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 30px;
}
.footer p{
    color: var(--Soft);
    font-weight: 300;
    text-align: left;
    flex: 1;
    flex-basis: 70%;
}
.footer p span{
    color: white;
    font-weight: 300;
    transition: 0.3s;
    cursor: pointer;
}
/* end of page */